{% extends 'base.html' %}

{% block content %}


<style>
    .search-and-add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    

    .search-and-add form {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .search-and-add form .form-control,
    .search-and-add form .btn,
    .search-and-add form .form-select {
        flex-grow: 1;
        margin-bottom: 10px;
    }

    .table-responsive {
        margin-bottom: 20px;
    }

   

    @media (min-width: 576px) {
        .search-and-add {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .search-and-add form {
            display: flex;
            flex-grow: 1;
            gap: 10px;
        }

        .search-and-add .form-control {
            flex-grow: 2;
            margin-bottom: 0;
        }

        .search-and-add .form-select {
            flex-grow: 1;
            flex-basis: 150px;
        }

        .search-and-add .btn-search {
            flex-grow: 0;
        }

        .add-receipt-btn {
            flex-grow: 0;
            white-space: nowrap;
        }
    }

    .btn-primary {
        background-color: #16122A;
        border-color: #16122A;
    }

    .btn-success {
        background-color: #6e53de;
        border-color: #22863a;
    }

    .table th, .table td {
        border-top: 1px solid #dee2e6;
        background-color: #f8f9fa;
    }

    .table th {
        background-color: #e9ecef;
    }

    .pagination .page-link {
        color: #16122A; /* Dark shade for text */
        background-color: #ffffff; /* White background for contrast */
        border: 1px solid #dee2e6; /* Light grey border for definition */
    }
    .pagination .page-link:hover {
        background-color: #f8f9fa; /* Light grey background on hover */
        border-color: #16122A; /* Dark border on hover to match text */
    }
    .pagination .page-item.active .page-link {
        background-color: #16122A; /* Dark background for active page */
        border-color: #16122A; /* Same color border for a cohesive look */
        color: #ffffff; /* White text for contrast on active page */
    }
    .pagination .page-item.disabled .page-link {
        color: #6c757d; /* Standard Bootstrap color for disabled elements */
    }
</style>


<div class="container">
    <div class="title-box">
    <h1 class="text-center  py-2">Receipts</h1>
</div>
    <div class="search-and-add">
        <form method="get" action="." class="flex-grow-1 d-flex">
            <input type="text" name="search" class="form-control" placeholder="Search receipts..." value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-primary">Search</button>
        <a href="{% url 'create_receipt' %}" class="btn btn-primary add-receipt-btn">Add New Receipt</a>

    </form>


    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="d-none d-md-table-cell">Contact Number</th>            
            <th scope="col" class="d-none d-md-table-cell">Invoice Number</th>
            <th>Amount</th>
            <th scope="col" class="d-none d-md-table-cell">Reference Number</th>
            <th>Actions</th>
        </tr>
        {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.name }}</td>
            <td class="d-none d-md-table-cell" >{{ receipt.contact_number }}</td>
            <td  class="d-none d-md-table-cell">{{ receipt.invoice_number }}</td>
            <td>{{ receipt.amount }}</td>
            <td class="d-none d-md-table-cell">{{ receipt.reference_number }}</td>
            <td>
                <a href="{% url 'generate_pdf' receipt.id %}" class="btn btn-primary"><i class="fa-solid fa-download"></i></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No receipts found.</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Pagination navigation -->
    <div class="pagination justify-content-center">
        <ul class="pagination">
            <!-- First and Previous Page Links -->
            {% if receipts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ receipts.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}
    
            <!-- Current Page Number and Total Pages -->
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ receipts.number }} / {{ receipts.paginator.num_pages }}
                </span>
            </li>
    
            <!-- Next and Last Page Links -->
            {% if receipts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ receipts.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ receipts.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&raquo;&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
    

</div>
{% endblock %}
